<div class="forms">
<h1>Let's Create!</h1>
<%= simple_form_for  @cocktail do |f| %>
 <p><%= f.input :name %></p>
 <p><%= f.submit "Add your go-to!", class: "btn btn-primary" %></p>
<% end %>
<p><%= link_to 'Back to cocktails', cocktails_path %></p>
</div>