<h1>Let's Create!</h1>
<%= simple_form_for  @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.submit "Add your go-to!", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back to cocktails', cocktails_path %>
