body {
    background-color: $funky-fresh;
}

.forms {
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #707070;
}

p {
   font-family: 'Lobster', cursive; 
}