body {
    background-color: $funky-fresh;
}


.forms {
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #707070;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}