// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.forms {
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: grey;
}

p {
   font-family: 'Lobster', cursive; 
}

body {
    background-color: aqua;
}
